---
layout: default
title: Accueil
titre: Bienvenue sur mon site.
---
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ page.title }}</h1>
                <ol class="breadcrumb">
                    <li><a href="{{site.url}}/index.html">Accueil</a>
                    </li>
                    <li class="active">
                        {{page.title}}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <p>
                    {{content}}
                </p>


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Description :</h4>
                    <div class="input-group">
                        date : {{page.date | date_to_long_string}}
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                            {% for category in site.categories %}
                                <li>
                                    <a href="{{site.url}}/categories/{{ category[0] }}.html">{{ category[0] }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->